<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h3>Add new Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/products/save}" th:object="${product}" method="POST" novalidate="novalidate">
        <!--        - th:action chỉ ra đường dẫn sẽ xử lý submit form, ${customer} ở th:object chính là biến customer.-->
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="name">name</label>
            <input type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="price">price</label>
            <input type="text" id="price" th:field="*{price}">
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" id="description" th:field="*{description}">
        </div>
        <div>
            <label for="producer">producer</label>
            <input type="text" id="producer" th:field="*{producer}">
        </div>
        <input type="submit" value="Save">
    </form>
</div>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>