<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:replace="/layout :: head">-->
<!--    <title>Search Product</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>Search Product</h3>-->
<!--<p>-->
<!--    <a th:href="@{/products}">-->
<!--        Back to product list-->
<!--    </a>-->
<!--</p>-->
<!--<div id="form">-->
<!--    <form action="#" th:action="@{/products/search}" th:object="${product}" method="post" novalidate="novalidate">-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--        <div>-->
<!--            <label for="name">name</label>-->
<!--            <input type="text" id="name" th:field="*{name}">-->
<!--        </div>-->
<!--        <input type="submit" value="Search">-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--<footer th:replace="/layout :: footer"></footer>-->
<!--</html>-->